#themeSwitcher {
    background: #333333;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}

#themeSwitcher .dd-select, #themeSwitcher .dd-option-text {
    cursor: pointer;
}

#themeSwitcher img {
    vertical-align: inherit;
    height: inherit;
    max-width: inherit;
}

#themeSwitcher a img {
    border: none;
}

#themeSwitcher a {
    text-decoration: none;
}

#themeSwitcher a:hover {
    color: #fff;
    text-decoration: none;
}

#themeSwitcher .switcherContainer {

    margin: 0 auto;
    position: relative;
}

#themeSwitcher .switcherRt {
    float: right;
    min-width: 240px;
    text-align: right;
}

#themeSwitcher .themeSelectContainer {
    min-width: 270px;
    min-height: 56px;
    position: absolute;
    left: 286px;
    top: 11px;
}
#themeSwitcher .tw-logo, #themeSwitcher .ct-logo {
    float: left;
}
#themeSwitcher .tw-purchase {
    display: inline-block;
    height: 56px;
    background: transparent url(http://frame.themeforest.createit.pl/assets/themewoodmen/images/bar-btns-bg.png) no-repeat 0 10px;
    width: 160px;
}
#themeSwitcher .tw-purchase:hover {
    background-position: 0 -70px;
}

#themeSwitcher .tw-close {
    display: inline-block;
    height: 56px;
    background: transparent url(http://frame.themeforest.createit.pl/assets/themewoodmen/images/bar-btns-bg.png) no-repeat -160px 10px;
    width: 58px;
}

#themeSwitcher .tw-close:hover {
    background-position: -160px -70px;
}

#themeSwitcher .themeSelectContainer select:hover, #themeSwitcher .themeSelectContainer select:active, #themeSwitcher .themeSelectContainer select:focus {
    outline: 0;
}

#themeSwitcher select {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: #4d4d4d;
    height: 42px;
    padding: 9px;
    font-family: Arial, sans-serif;
    width: 152px;
}


#themeSwitcher .themeSelectContainer select option {
    background: #4d4d4d;
}

#themeSwitcher img.barFrame {
    background: #4d4d4d;
    padding: 10px;
    border-bottom: 2px solid #cccccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

@media (max-width: 1000px) {
    #themeSwitcher .switcherContainer {
        width: auto;
    }

}

@media (max-width: 800px) {
    #themeSwitcher .tw-logo, #themeSwitcher .ct-logo {
        display: none;
    }

    #themeSwitcher .themeSelectContainer, #themeSwitcher .switcherRt {
        width: auto;
        min-width: 0;
    }

    #themeSwitcher .themeSelectContainer {
        left: 20px;
    }
    #themeSwitcher .tw-close {
        padding-right: 20px;
    }
}

@media (max-width: 520px) {

    #themeSwitcher .tw-purchase {
        display: inline-block;
        height: 56px;
        background: transparent url(http://frame.themeforest.createit.pl/assets/themewoodmen/images/bar-btns-bg.png) no-repeat 0 -136px;
        width: 82px;
        float: left;
        margin-left: 50px;
    }

    #themeSwitcher .tw-purchase:hover {
        background-position: 0 -136px;
    }
    #themeSwitcher .switcherRt {
        width: 100%;
    }

    #themeSwitcher .themeSelectContainer {
        display: none;
    }
}

.theme-qtip-custom {
    max-width: 400px;
    padding: 7px 7px 11px 7px ;
    border: 0;
    width: 400px;
    height: 200px;
    background: #4D4D4D url(../images/loader.gif) no-repeat center center;
}

.theme-qtip-custom .qtip-content {
    padding: 0;
}

.qtip .qtip-tip {
    display: none !important;
}